/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #538add;
    --ifm-color-primary-dark: #3a79d8;
    --ifm-color-primary-darker: #2d70d5;
    --ifm-color-primary-darkest: #235cb2;
    --ifm-color-primary-light: #6c9be2;
    --ifm-color-primary-lighter: #79a4e5;
    --ifm-color-primary-lightest: #9fbeec;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #2dc4ff;
    --ifm-color-primary-dark: #0fbcff;
    --ifm-color-primary-darker: #00b7ff;
    --ifm-color-primary-darkest: #0097d2;
    --ifm-color-primary-light: #4bccff;
    --ifm-color-primary-lighter: #5ad1ff;
    --ifm-color-primary-lightest: #87ddff;
}

.intro_image {
    height: 200px;
    border-radius:5px;
}

code {
    white-space: nowrap;
}
pre code {
    white-space: pre;
}

.meta{
    font-size: 0.8rem;
    opacity: 0.6;
    margin-bottom: 1rem;
}

.text-center{
    text-align: center;
}

.table100 {
    width:100%;
    border: 10px solid red;
}

table td{
    width: 50vw;
}
table td:first-of-type {
    width: 20vw;
}

.marked{
    display: inline-block;
    padding: 0rem 0.4rem;
    border-radius: 0.2rem;
}
.marked-blue {
    background-color: #0b9ae0;
    color: #fff;

}

.marked-orange {
    background-color: #e0560b;
    color: #fff;
}

.marked-red {
    background-color: #e00b0b;
    color: #fff;
}

article img,
article video {
    display: block;
    max-width: min(75%, 800px);
    margin: 2rem auto;
}

article img.full-width{
    max-width: min(100%, 1200px);
    width: 100%;
}

article img.bordered,
article video.bordered{
    border-radius: .5rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.lead{
    font-size: 1.5rem;
    opacity: .6;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
}
